Repository jtjun/DutchBroomstick, pull requests merged in 2019-05, with the labels that each got.

#15 Add Circular Graph Component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/CircularGraph/index.js
  frontend/src/components/pages/HomePage/index.js
Labels: enhancement, frontend, iteration 2

#14 Assign User Model to API Server
  backend/src/dutch_broomstick/__init__.py
  backend/src/dutch_broomstick/admin.py
  backend/src/dutch_broomstick/apps.py
  backend/src/dutch_broomstick/migrations/0001_initial.py
  backend/src/dutch_broomstick/migrations/0002_auto_20190428_0033.py
  backend/src/dutch_broomstick/migrations/__init__.py
  backend/src/dutch_broomstick/models.py
  backend/src/dutch_broomstick/permissions.py
  backend/src/dutch_broomstick/serializers.py
  backend/src/dutch_broomstick/tests.py
  backend/src/dutch_broomstick/urls.py
  backend/src/dutch_broomstick/views.py
  backend/src/swpp/settings.py
  backend/src/swpp/urls.py
Labels: backend, iteration 2

#18 Add MainPage(LoginForm) and UserPage
  frontend/src/components/App.js
  frontend/src/components/organisms/LoginForm/index.js
  frontend/src/components/pages/MainPage/index.js
  frontend/src/components/pages/UserPage/index.js
  frontend/src/containers/LoginForm.js
  frontend/src/containers/MainPage.js
  frontend/src/containers/UserPage.js
  frontend/src/store/user/actions.js
  frontend/src/store/user/reducer.js
  frontend/src/store/user/sagas.js
Labels: frontend, iteration 2

#20 Add MainPage(LoginForm) and UserPage
  frontend/src/components/App.js
  frontend/src/components/organisms/LoginForm/index.js
  frontend/src/components/pages/MainPage/index.js
  frontend/src/components/pages/UserPage/index.js
  frontend/src/containers/LoginForm.js
  frontend/src/containers/MainPage.js
  frontend/src/containers/UserPage.js
  frontend/src/store/user/actions.js
  frontend/src/store/user/reducer.js
  frontend/src/store/user/sagas.js
Labels: frontend, iteration 2

#21 signUp
  frontend/src/components/App.js
  frontend/src/components/organisms/SignUpForm/index.js
  frontend/src/components/pages/SignUpPage/index.js
  frontend/src/containers/SignUpForm.js
  frontend/src/containers/SignUpPage.js
  frontend/src/store/user/actions.js
  frontend/src/store/user/reducer.js
  frontend/src/store/user/sagas.js
Labels: frontend, iteration 2

#17 Revert "Revert "Add Circular Graph Component""
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/CircularGraph/index.js
  frontend/src/components/pages/HomePage/index.js
Labels: enhancement, frontend, iteration 2

#25 UserInfoPage를 만들었어요
  frontend/src/components/App.js
  frontend/src/components/organisms/UserInfoForm/index.js
  frontend/src/components/pages/UserInfoPage/index.js
  frontend/src/containers/UserInfoForm.js
  frontend/src/containers/UserInfoPage.js
  frontend/src/store/user/actions.js
  frontend/src/store/user/reducer.js
  frontend/src/store/user/sagas.js
Labels: frontend, iteration 2

#24 Add some tests for django
  backend/src/dutch_broomstick/tests.py
Labels: backend, iteration 2, test

#29 Modify settings for deployment (disallow host check)
  backend/src/swpp/settings.py
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.js
Labels: iteration 3

#30 Close #13 - Add link from UserPage to UserInfoPage
  frontend/src/components/App.js
  frontend/src/components/pages/UserPage/index.js
  frontend/src/containers/UserInfoPage.js
Labels: frontend, iteration 3
